<p>package_regular</p>
<svg class="img-responsive" id="package_regular" width="1139pt" height="342pt"
 viewBox="0.00 0.00 1139.00 342.00" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<g id="graph0" class="graph" transform="scale(1 1) rotate(0) translate(4 338)">
<title>workflow</title>
<polygon fill="#ffffff" stroke="transparent" points="-4,4 -4,-338 1135,-338 1135,4 -4,4"/>
<!-- place_62fdfbd55d19b2a4671102ad7bca17d875f8207a -->
<g id="node1" class="node">
<title>place_62fdfbd55d19b2a4671102ad7bca17d875f8207a</title>
<ellipse fill="#add8e6" stroke="#333333" cx="57.5" cy="-73.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="57.5" y="-71.3" font-family="Arial" font-size="9.00" fill="#000000">import</text>
</g>
<!-- place_82396da143248ddecf33322a621ad5389f4c461e -->
<g id="node2" class="node">
<title>place_82396da143248ddecf33322a621ad5389f4c461e</title>
<ellipse fill="none" stroke="#333333" cx="261.5" cy="-143.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="261.5" y="-141.3" font-family="Arial" font-size="9.00" fill="#000000">measuring</text>
</g>
<!-- place_62fdfbd55d19b2a4671102ad7bca17d875f8207a&#45;&gt;place_82396da143248ddecf33322a621ad5389f4c461e -->
<g id="edge1" class="edge">
<title>place_62fdfbd55d19b2a4671102ad7bca17d875f8207a&#45;&gt;place_82396da143248ddecf33322a621ad5389f4c461e</title>
<path fill="none" stroke="#333333" d="M111.9003,-92.1668C139.6828,-101.7 173.5387,-113.3172 202.0119,-123.0874"/>
<polygon fill="#333333" stroke="#333333" points="201.5999,-124.7961 206.8972,-124.7637 202.7359,-121.4856 201.5999,-124.7961"/>
<text text-anchor="middle" x="159.5" y="-120.3" font-family="Arial" font-size="9.00" fill="#000000">to_measure</text>
</g>
<!-- place_f8f58c18794a80e2722034766c00115ddd3ef240 -->
<g id="node3" class="node">
<title>place_f8f58c18794a80e2722034766c00115ddd3ef240</title>
<ellipse fill="none" stroke="#333333" cx="458.5" cy="-143.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="458.5" y="-141.3" font-family="Arial" font-size="9.00" fill="#000000">sorting</text>
</g>
<!-- place_82396da143248ddecf33322a621ad5389f4c461e&#45;&gt;place_f8f58c18794a80e2722034766c00115ddd3ef240 -->
<g id="edge2" class="edge">
<title>place_82396da143248ddecf33322a621ad5389f4c461e&#45;&gt;place_f8f58c18794a80e2722034766c00115ddd3ef240</title>
<path fill="none" stroke="#333333" d="M319.0101,-143.5C343.0783,-143.5 371.1205,-143.5 395.7233,-143.5"/>
<polygon fill="#333333" stroke="#333333" points="395.9184,-145.2501 400.9184,-143.5 395.9184,-141.7501 395.9184,-145.2501"/>
<text text-anchor="middle" x="360" y="-146.3" font-family="Arial" font-size="9.00" fill="#000000">to_sorting</text>
</g>
<!-- place_3a21295d813c26eb287fc6b59454fb37858d63e6 -->
<g id="node4" class="node">
<title>place_3a21295d813c26eb287fc6b59454fb37858d63e6</title>
<ellipse fill="none" stroke="#333333" cx="458.5" cy="-276.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="458.5" y="-274.3" font-family="Arial" font-size="9.00" fill="#000000">store</text>
</g>
<!-- place_82396da143248ddecf33322a621ad5389f4c461e&#45;&gt;place_3a21295d813c26eb287fc6b59454fb37858d63e6 -->
<g id="edge3" class="edge">
<title>place_82396da143248ddecf33322a621ad5389f4c461e&#45;&gt;place_3a21295d813c26eb287fc6b59454fb37858d63e6</title>
<path fill="none" stroke="#333333" d="M309.1882,-175.6956C338.4926,-195.4798 376.0596,-220.8423 406.1801,-241.1774"/>
<polygon fill="#333333" stroke="#333333" points="405.4449,-242.7926 410.5682,-244.1399 407.4034,-239.8917 405.4449,-242.7926"/>
<text text-anchor="middle" x="360" y="-225.3" font-family="Arial" font-size="9.00" fill="#000000">to_storing</text>
</g>
<!-- place_e17a861dfecb1b860fc003f574d8609de1d51ba3 -->
<g id="node5" class="node">
<title>place_e17a861dfecb1b860fc003f574d8609de1d51ba3</title>
<ellipse fill="none" stroke="#333333" cx="680.5" cy="-143.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="680.5" y="-141.3" font-family="Arial" font-size="9.00" fill="#000000">pallet</text>
</g>
<!-- place_f8f58c18794a80e2722034766c00115ddd3ef240&#45;&gt;place_e17a861dfecb1b860fc003f574d8609de1d51ba3 -->
<g id="edge4" class="edge">
<title>place_f8f58c18794a80e2722034766c00115ddd3ef240&#45;&gt;place_e17a861dfecb1b860fc003f574d8609de1d51ba3</title>
<path fill="none" stroke="#333333" d="M516.2484,-143.5C547.3451,-143.5 585.7494,-143.5 617.6018,-143.5"/>
<polygon fill="#333333" stroke="#333333" points="617.6556,-145.2501 622.6555,-143.5 617.6555,-141.7501 617.6556,-145.2501"/>
<text text-anchor="middle" x="569.5" y="-146.3" font-family="Arial" font-size="9.00" fill="#000000">to_pallet</text>
</g>
<!-- place_20ba31821b079e7d845a08096124880db3eeeb47 -->
<g id="node6" class="node">
<title>place_20ba31821b079e7d845a08096124880db3eeeb47</title>
<ellipse fill="none" stroke="#333333" cx="884.5" cy="-143.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="884.5" y="-141.3" font-family="Arial" font-size="9.00" fill="#000000">shipping</text>
</g>
<!-- place_e17a861dfecb1b860fc003f574d8609de1d51ba3&#45;&gt;place_20ba31821b079e7d845a08096124880db3eeeb47 -->
<g id="edge5" class="edge">
<title>place_e17a861dfecb1b860fc003f574d8609de1d51ba3&#45;&gt;place_20ba31821b079e7d845a08096124880db3eeeb47</title>
<path fill="none" stroke="#333333" d="M738.1402,-143.5C764.098,-143.5 794.816,-143.5 821.3914,-143.5"/>
<polygon fill="#333333" stroke="#333333" points="821.6487,-145.2501 826.6487,-143.5 821.6486,-141.7501 821.6487,-145.2501"/>
<text text-anchor="middle" x="782.5" y="-146.3" font-family="Arial" font-size="9.00" fill="#000000">to_shipping</text>
</g>
<!-- place_ab464f0252045aaf075411f0f1a6aed0797306c1 -->
<g id="node7" class="node">
<title>place_ab464f0252045aaf075411f0f1a6aed0797306c1</title>
<ellipse fill="none" stroke="#333333" cx="1073.5" cy="-57.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="1073.5" y="-55.3" font-family="Arial" font-size="9.00" fill="#000000">delay</text>
</g>
<!-- place_20ba31821b079e7d845a08096124880db3eeeb47&#45;&gt;place_ab464f0252045aaf075411f0f1a6aed0797306c1 -->
<g id="edge6" class="edge">
<title>place_20ba31821b079e7d845a08096124880db3eeeb47&#45;&gt;place_ab464f0252045aaf075411f0f1a6aed0797306c1</title>
<path fill="none" stroke="#333333" d="M936.896,-119.6584C961.5786,-108.4272 991.0783,-95.0041 1016.3371,-83.5106"/>
<polygon fill="#333333" stroke="#333333" points="1017.1758,-85.0517 1021.002,-81.388 1015.7262,-81.866 1017.1758,-85.0517"/>
<text text-anchor="middle" x="979" y="-111.3" font-family="Arial" font-size="9.00" fill="#000000">to_delay</text>
</g>
<!-- place_e5fd9cfe0e8039111d54b588e77b2bb0cad41c3a -->
<g id="node8" class="node">
<title>place_e5fd9cfe0e8039111d54b588e77b2bb0cad41c3a</title>
<ellipse fill="none" stroke="#333333" cx="1073.5" cy="-190.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="1073.5" y="-188.3" font-family="Arial" font-size="9.00" fill="#000000">done</text>
</g>
<!-- place_20ba31821b079e7d845a08096124880db3eeeb47&#45;&gt;place_e5fd9cfe0e8039111d54b588e77b2bb0cad41c3a -->
<g id="edge7" class="edge">
<title>place_20ba31821b079e7d845a08096124880db3eeeb47&#45;&gt;place_e5fd9cfe0e8039111d54b588e77b2bb0cad41c3a</title>
<path fill="none" stroke="#333333" d="M940.4391,-157.4108C963.1009,-163.0462 989.3337,-169.5698 1012.4864,-175.3273"/>
<polygon fill="#333333" stroke="#333333" points="1012.1033,-177.0353 1017.3778,-176.5437 1012.948,-173.6387 1012.1033,-177.0353"/>
<text text-anchor="middle" x="979" y="-174.3" font-family="Arial" font-size="9.00" fill="#000000">to_done</text>
</g>
<!-- place_ab464f0252045aaf075411f0f1a6aed0797306c1&#45;&gt;place_62fdfbd55d19b2a4671102ad7bca17d875f8207a -->
<g id="edge8" class="edge">
<title>place_ab464f0252045aaf075411f0f1a6aed0797306c1&#45;&gt;place_62fdfbd55d19b2a4671102ad7bca17d875f8207a</title>
<path fill="none" stroke="#333333" d="M1015.5971,-57.5C978.1912,-57.5 928.4688,-57.5 884.5,-57.5 261.5,-57.5 261.5,-57.5 261.5,-57.5 214.0715,-57.5 160.6297,-61.8515 120.3458,-66.0159"/>
<polygon fill="#333333" stroke="#333333" points="119.7918,-64.3142 115.0011,-66.5752 120.1561,-67.7952 119.7918,-64.3142"/>
<text text-anchor="middle" x="569.5" y="-60.3" font-family="Arial" font-size="9.00" fill="#000000">to_delay_return</text>
</g>
</g>
</svg>
