<p>regular_pallet</p>
<svg class="img-responsive" id="regular_pallet" width="514pt" height="389pt"
 viewBox="0.00 0.00 514.00 389.00" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<g id="graph0" class="graph" transform="scale(1 1) rotate(0) translate(4 385)">
<title>workflow</title>
<polygon fill="#ffffff" stroke="transparent" points="-4,4 -4,-385 510,-385 510,4 -4,4"/>
<!-- place_c2a6b03f190dfb2b4aa91f8af8d477a9bc3401dc -->
<g id="node1" class="node">
<title>place_c2a6b03f190dfb2b4aa91f8af8d477a9bc3401dc</title>
<ellipse fill="#add8e6" stroke="#333333" cx="57.5" cy="-206.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="57.5" y="-204.3" font-family="Arial" font-size="9.00" fill="#000000">new</text>
</g>
<!-- place_2502deb44ba556abc83784f27250dcd7bbaebc0f -->
<g id="node2" class="node">
<title>place_2502deb44ba556abc83784f27250dcd7bbaebc0f</title>
<ellipse fill="none" stroke="#333333" cx="246.5" cy="-206.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="246.5" y="-204.3" font-family="Arial" font-size="9.00" fill="#000000">band</text>
</g>
<!-- place_c2a6b03f190dfb2b4aa91f8af8d477a9bc3401dc&#45;&gt;place_2502deb44ba556abc83784f27250dcd7bbaebc0f -->
<g id="edge1" class="edge">
<title>place_c2a6b03f190dfb2b4aa91f8af8d477a9bc3401dc&#45;&gt;place_2502deb44ba556abc83784f27250dcd7bbaebc0f</title>
<path fill="none" stroke="#333333" d="M115.2332,-206.5C136.8408,-206.5 161.4867,-206.5 183.5431,-206.5"/>
<polygon fill="#333333" stroke="#333333" points="183.795,-208.2501 188.7949,-206.5 183.7949,-204.7501 183.795,-208.2501"/>
<text text-anchor="middle" x="152" y="-209.3" font-family="Arial" font-size="9.00" fill="#000000">banding</text>
</g>
<!-- place_b40ab0388d440794324e7e689ef345935ddcfe7a -->
<g id="node3" class="node">
<title>place_b40ab0388d440794324e7e689ef345935ddcfe7a</title>
<ellipse fill="none" stroke="#333333" cx="448.5" cy="-323.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="448.5" y="-321.3" font-family="Arial" font-size="9.00" fill="#000000">disband</text>
</g>
<!-- place_2502deb44ba556abc83784f27250dcd7bbaebc0f&#45;&gt;place_b40ab0388d440794324e7e689ef345935ddcfe7a -->
<g id="edge3" class="edge">
<title>place_2502deb44ba556abc83784f27250dcd7bbaebc0f&#45;&gt;place_b40ab0388d440794324e7e689ef345935ddcfe7a</title>
<path fill="none" stroke="#333333" d="M282.7174,-251.5732C294.2223,-263.6272 307.7036,-275.7275 322,-284.5 341.6677,-296.5684 365.3671,-305.1694 386.9102,-311.1665"/>
<polygon fill="#333333" stroke="#333333" points="386.4746,-312.8615 391.7584,-312.4828 387.3917,-309.4838 386.4746,-312.8615"/>
<text text-anchor="middle" x="347.5" y="-308.3" font-family="Arial" font-size="9.00" fill="#000000">disbanding</text>
</g>
<!-- place_27e7700fdaa16b99ae9d594813284eb0a992cc16 -->
<g id="node4" class="node">
<title>place_27e7700fdaa16b99ae9d594813284eb0a992cc16</title>
<ellipse fill="none" stroke="#333333" cx="448.5" cy="-190.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="448.5" y="-188.3" font-family="Arial" font-size="9.00" fill="#000000">sent</text>
</g>
<!-- place_2502deb44ba556abc83784f27250dcd7bbaebc0f&#45;&gt;place_27e7700fdaa16b99ae9d594813284eb0a992cc16 -->
<g id="edge4" class="edge">
<title>place_2502deb44ba556abc83784f27250dcd7bbaebc0f&#45;&gt;place_27e7700fdaa16b99ae9d594813284eb0a992cc16</title>
<path fill="none" stroke="#333333" d="M303.8448,-201.9578C329.4328,-199.9311 359.65,-197.5376 385.8318,-195.4638"/>
<polygon fill="#333333" stroke="#333333" points="386.1657,-197.1929 391.0118,-195.0535 385.8892,-193.7039 386.1657,-197.1929"/>
<text text-anchor="middle" x="347.5" y="-202.3" font-family="Arial" font-size="9.00" fill="#000000">to_sent</text>
</g>
<!-- place_20ba31821b079e7d845a08096124880db3eeeb47 -->
<g id="node5" class="node">
<title>place_20ba31821b079e7d845a08096124880db3eeeb47</title>
<ellipse fill="none" stroke="#333333" cx="448.5" cy="-57.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="448.5" y="-55.3" font-family="Arial" font-size="9.00" fill="#000000">shipping</text>
</g>
<!-- place_2502deb44ba556abc83784f27250dcd7bbaebc0f&#45;&gt;place_20ba31821b079e7d845a08096124880db3eeeb47 -->
<g id="edge5" class="edge">
<title>place_2502deb44ba556abc83784f27250dcd7bbaebc0f&#45;&gt;place_20ba31821b079e7d845a08096124880db3eeeb47</title>
<path fill="none" stroke="#333333" d="M292.8429,-172.3164C324.1671,-149.2109 365.5287,-118.7016 397.7416,-94.9406"/>
<polygon fill="#333333" stroke="#333333" points="399.0385,-96.1586 402.0234,-91.7822 396.9608,-93.342 399.0385,-96.1586"/>
<text text-anchor="middle" x="347.5" y="-152.3" font-family="Arial" font-size="9.00" fill="#000000">to_ship</text>
</g>
<!-- place_b40ab0388d440794324e7e689ef345935ddcfe7a&#45;&gt;place_2502deb44ba556abc83784f27250dcd7bbaebc0f -->
<g id="edge2" class="edge">
<title>place_b40ab0388d440794324e7e689ef345935ddcfe7a&#45;&gt;place_2502deb44ba556abc83784f27250dcd7bbaebc0f</title>
<path fill="none" stroke="#333333" d="M400.5397,-291.5324C391.4746,-285.7307 382.0095,-279.8329 373,-274.5 350.2639,-261.0421 324.6766,-247.0749 302.4937,-235.3256"/>
<polygon fill="#333333" stroke="#333333" points="303.0525,-233.6416 297.8141,-232.8531 301.4174,-236.7362 303.0525,-233.6416"/>
<text text-anchor="middle" x="347.5" y="-277.3" font-family="Arial" font-size="9.00" fill="#000000">banding</text>
</g>
</g>
</svg>
