<p>regular_package</p>
<svg class="img-responsive" id="regular_package" width="1187pt" height="342pt"
 viewBox="0.00 0.00 1187.00 342.00" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<g id="graph0" class="graph" transform="scale(1 1) rotate(0) translate(4 338)">
<title>workflow</title>
<polygon fill="#ffffff" stroke="transparent" points="-4,4 -4,-338 1183,-338 1183,4 -4,4"/>
<!-- place_62fdfbd55d19b2a4671102ad7bca17d875f8207a -->
<g id="node1" class="node">
<title>place_62fdfbd55d19b2a4671102ad7bca17d875f8207a</title>
<ellipse fill="#c0c0c0" stroke="#333333" cx="57.5" cy="-73.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="57.5" y="-71.3" font-family="Arial" font-size="9.00" fill="#000000">import</text>
</g>
<!-- place_82396da143248ddecf33322a621ad5389f4c461e -->
<g id="node2" class="node">
<title>place_82396da143248ddecf33322a621ad5389f4c461e</title>
<ellipse fill="none" stroke="#333333" cx="309.5" cy="-143.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="309.5" y="-141.3" font-family="Arial" font-size="9.00" fill="#000000">measuring</text>
</g>
<!-- place_62fdfbd55d19b2a4671102ad7bca17d875f8207a&#45;&gt;place_82396da143248ddecf33322a621ad5389f4c461e -->
<g id="edge1" class="edge">
<title>place_62fdfbd55d19b2a4671102ad7bca17d875f8207a&#45;&gt;place_82396da143248ddecf33322a621ad5389f4c461e</title>
<path fill="none" stroke="#ff0000" d="M113.1144,-88.9485C153.367,-100.1297 207.7303,-115.2306 249.0545,-126.7096"/>
<polygon fill="#ff0000" stroke="#ff0000" points="248.7416,-128.4389 254.0276,-128.091 249.6784,-125.0666 248.7416,-128.4389"/>
<text text-anchor="middle" x="183.5" y="-124.3" font-family="Arial" font-size="9.00" fill="#0000ff">to_measure_metadata</text>
</g>
<!-- place_f8f58c18794a80e2722034766c00115ddd3ef240 -->
<g id="node3" class="node">
<title>place_f8f58c18794a80e2722034766c00115ddd3ef240</title>
<ellipse fill="none" stroke="#333333" cx="506.5" cy="-143.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="506.5" y="-141.3" font-family="Arial" font-size="9.00" fill="#000000">sorting</text>
</g>
<!-- place_82396da143248ddecf33322a621ad5389f4c461e&#45;&gt;place_f8f58c18794a80e2722034766c00115ddd3ef240 -->
<g id="edge2" class="edge">
<title>place_82396da143248ddecf33322a621ad5389f4c461e&#45;&gt;place_f8f58c18794a80e2722034766c00115ddd3ef240</title>
<path fill="none" stroke="#333333" d="M367.0101,-143.5C391.0783,-143.5 419.1205,-143.5 443.7233,-143.5"/>
<polygon fill="#333333" stroke="#333333" points="443.9184,-145.2501 448.9184,-143.5 443.9184,-141.7501 443.9184,-145.2501"/>
<text text-anchor="middle" x="408" y="-146.3" font-family="Arial" font-size="9.00" fill="#000000">to_sorting</text>
</g>
<!-- place_3a21295d813c26eb287fc6b59454fb37858d63e6 -->
<g id="node4" class="node">
<title>place_3a21295d813c26eb287fc6b59454fb37858d63e6</title>
<ellipse fill="none" stroke="#333333" cx="506.5" cy="-276.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="506.5" y="-274.3" font-family="Arial" font-size="9.00" fill="#000000">store</text>
</g>
<!-- place_82396da143248ddecf33322a621ad5389f4c461e&#45;&gt;place_3a21295d813c26eb287fc6b59454fb37858d63e6 -->
<g id="edge3" class="edge">
<title>place_82396da143248ddecf33322a621ad5389f4c461e&#45;&gt;place_3a21295d813c26eb287fc6b59454fb37858d63e6</title>
<path fill="none" stroke="#333333" d="M357.1882,-175.6956C386.4926,-195.4798 424.0596,-220.8423 454.1801,-241.1774"/>
<polygon fill="#333333" stroke="#333333" points="453.4449,-242.7926 458.5682,-244.1399 455.4034,-239.8917 453.4449,-242.7926"/>
<text text-anchor="middle" x="408" y="-225.3" font-family="Arial" font-size="9.00" fill="#000000">to_storing</text>
</g>
<!-- place_e17a861dfecb1b860fc003f574d8609de1d51ba3 -->
<g id="node5" class="node">
<title>place_e17a861dfecb1b860fc003f574d8609de1d51ba3</title>
<ellipse fill="none" stroke="#333333" cx="728.5" cy="-143.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="728.5" y="-141.3" font-family="Arial" font-size="9.00" fill="#000000">pallet</text>
</g>
<!-- place_f8f58c18794a80e2722034766c00115ddd3ef240&#45;&gt;place_e17a861dfecb1b860fc003f574d8609de1d51ba3 -->
<g id="edge4" class="edge">
<title>place_f8f58c18794a80e2722034766c00115ddd3ef240&#45;&gt;place_e17a861dfecb1b860fc003f574d8609de1d51ba3</title>
<path fill="none" stroke="#333333" d="M564.2484,-143.5C595.3451,-143.5 633.7494,-143.5 665.6018,-143.5"/>
<polygon fill="#333333" stroke="#333333" points="665.6556,-145.2501 670.6555,-143.5 665.6555,-141.7501 665.6556,-145.2501"/>
<text text-anchor="middle" x="617.5" y="-146.3" font-family="Arial" font-size="9.00" fill="#000000">to_pallet</text>
</g>
<!-- place_20ba31821b079e7d845a08096124880db3eeeb47 -->
<g id="node6" class="node">
<title>place_20ba31821b079e7d845a08096124880db3eeeb47</title>
<ellipse fill="none" stroke="#333333" cx="932.5" cy="-143.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="932.5" y="-141.3" font-family="Arial" font-size="9.00" fill="#000000">shipping</text>
</g>
<!-- place_e17a861dfecb1b860fc003f574d8609de1d51ba3&#45;&gt;place_20ba31821b079e7d845a08096124880db3eeeb47 -->
<g id="edge5" class="edge">
<title>place_e17a861dfecb1b860fc003f574d8609de1d51ba3&#45;&gt;place_20ba31821b079e7d845a08096124880db3eeeb47</title>
<path fill="none" stroke="#333333" d="M786.1402,-143.5C812.098,-143.5 842.816,-143.5 869.3914,-143.5"/>
<polygon fill="#333333" stroke="#333333" points="869.6487,-145.2501 874.6487,-143.5 869.6486,-141.7501 869.6487,-145.2501"/>
<text text-anchor="middle" x="830.5" y="-146.3" font-family="Arial" font-size="9.00" fill="#000000">to_shipping</text>
</g>
<!-- place_ab464f0252045aaf075411f0f1a6aed0797306c1 -->
<g id="node7" class="node">
<title>place_ab464f0252045aaf075411f0f1a6aed0797306c1</title>
<ellipse fill="none" stroke="#333333" cx="1121.5" cy="-57.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="1121.5" y="-55.3" font-family="Arial" font-size="9.00" fill="#000000">delay</text>
</g>
<!-- place_20ba31821b079e7d845a08096124880db3eeeb47&#45;&gt;place_ab464f0252045aaf075411f0f1a6aed0797306c1 -->
<g id="edge6" class="edge">
<title>place_20ba31821b079e7d845a08096124880db3eeeb47&#45;&gt;place_ab464f0252045aaf075411f0f1a6aed0797306c1</title>
<path fill="none" stroke="#333333" d="M984.896,-119.6584C1009.5786,-108.4272 1039.0783,-95.0041 1064.3371,-83.5106"/>
<polygon fill="#333333" stroke="#333333" points="1065.1758,-85.0517 1069.002,-81.388 1063.7262,-81.866 1065.1758,-85.0517"/>
<text text-anchor="middle" x="1027" y="-111.3" font-family="Arial" font-size="9.00" fill="#000000">to_delay</text>
</g>
<!-- place_e5fd9cfe0e8039111d54b588e77b2bb0cad41c3a -->
<g id="node8" class="node">
<title>place_e5fd9cfe0e8039111d54b588e77b2bb0cad41c3a</title>
<ellipse fill="none" stroke="#333333" cx="1121.5" cy="-190.5" rx="57.5" ry="57.5"/>
<text text-anchor="middle" x="1121.5" y="-188.3" font-family="Arial" font-size="9.00" fill="#000000">done</text>
</g>
<!-- place_20ba31821b079e7d845a08096124880db3eeeb47&#45;&gt;place_e5fd9cfe0e8039111d54b588e77b2bb0cad41c3a -->
<g id="edge7" class="edge">
<title>place_20ba31821b079e7d845a08096124880db3eeeb47&#45;&gt;place_e5fd9cfe0e8039111d54b588e77b2bb0cad41c3a</title>
<path fill="none" stroke="#333333" d="M988.4391,-157.4108C1011.1009,-163.0462 1037.3337,-169.5698 1060.4864,-175.3273"/>
<polygon fill="#333333" stroke="#333333" points="1060.1033,-177.0353 1065.3778,-176.5437 1060.948,-173.6387 1060.1033,-177.0353"/>
<text text-anchor="middle" x="1027" y="-174.3" font-family="Arial" font-size="9.00" fill="#000000">to_done</text>
</g>
<!-- place_ab464f0252045aaf075411f0f1a6aed0797306c1&#45;&gt;place_62fdfbd55d19b2a4671102ad7bca17d875f8207a -->
<g id="edge8" class="edge">
<title>place_ab464f0252045aaf075411f0f1a6aed0797306c1&#45;&gt;place_62fdfbd55d19b2a4671102ad7bca17d875f8207a</title>
<path fill="none" stroke="#333333" d="M1063.5971,-57.5C1026.1912,-57.5 976.4688,-57.5 932.5,-57.5 309.5,-57.5 309.5,-57.5 309.5,-57.5 244.7607,-57.5 170.8537,-62.8244 119.8999,-67.3303"/>
<polygon fill="#333333" stroke="#333333" points="119.5572,-65.6038 114.7326,-67.7914 119.8684,-69.09 119.5572,-65.6038"/>
<text text-anchor="middle" x="617.5" y="-60.3" font-family="Arial" font-size="9.00" fill="#000000">to_delay_return</text>
</g>
</g>
</svg>
