{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as flash %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                {{ flash.flashbag() }}
            </div>
        </div>
        <div class="row">
            <div class="col align-self-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('index') }}">INDEX</a></li>
                        <li class="breadcrumb-item">Current page {{ app.request.attributes.get('_route') }}</li>
                    </ol>
                </nav>
            </div>
            <div class="col-sm-2 align-self-center">
                {{ currentWarehouseSelector() }}
            </div>
        </div>
        {% block content %}
        {% endblock %}
        {% block workflows %}
            {% include 'svg/regular_package.svg.twig' %}
            {% include 'svg/delay_package.svg.twig' %}
            {% include 'svg/regular_pallet.svg.twig' %}
            <div class="clearfix"></div>
            {% include 'svg/plantuml.delay_package.svg.twig' %}
            {% include 'svg/plantuml.regular_package.svg.twig' %}
            {% include 'svg/plantuml.regular_pallet.svg.twig' %}
            <div class="clearfix"></div>

        {% endblock %}

    </div>


{% endblock %}