{% extends 'base.html.twig' %}
{% import 'macros/flash.html.twig' as flash %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                {{ flash.flashbag() }}
            </div>
        </div>
        <div class="row">
            <div class="col align-self-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{{ path('index') }}">INDEX</a></li>
                        <li class="breadcrumb-item">Current page {{ app.request.attributes.get('_route') }}</li>
                    </ol>
                </nav>
            </div>
            <div class="col-sm-2 align-self-center">
                {{ currentWarehouseSelector() }}
            </div>
        </div>
        {% block content %}
        {% endblock %}
        <div class="clearfix"></div>
        <hr>
        <table class="table">
            <tbody>
        {% block workflows %}
            {% for workflowTemplate in [
                'svg/package_regular.svg.twig',
                'svg/package_delay.svg.twig',
                'svg/pallet_regular.svg.twig',
                'svg/plantuml.delay_package.svg.twig',
                'svg/plantuml.regular_package.svg.twig',
                'svg/plantuml.regular_pallet.svg.twig'
            ] %}
                <tr>
                    <td>{% include workflowTemplate %}</td>
                </tr>



            {% endfor %}
            </tbody>
        </table>
        {% endblock %}

    </div>


{% endblock %}