{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <div class="row">
            <h3 class="text-center display-3">Packages</h3>
        </div>
        {% for package in packages %}
            <div class="row">
                <div>
                    <p>
                        <a href="{{ path('show-package', {'id': package.id}) }}">
                            <span>{{ package.fid }}</span><span>{{ package.warehouse.id }}</span>
                        </a>
                    </p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
